:root {
  --buttonWidth: 230px;
  --offBlack: #1c1c1c;
  --offWhite: #f0f0f0;
  --buttonColor: #0a7637;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
}

@keyframes entrance {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

#salesTimesContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 90vh;
  width: 100vw;
  overflow-y: auto;
}

#salesTimes {
  font-size: 5em;
  position: center;
  text-align: center;
  display: block;
  color: var(--offBlack);
}
#salesTimesFlavourText {
  font-size: 2.5em;
  text-align: center;
  display: block;
}
button {
  margin: 0.5em;
  display: block;
  background-color: var(--buttonColor);
  box-shadow: #b5b5b5 3px 3px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  transition: 0.2s;
  color: var(--offWhite);
  padding: 10px 15px;
  width: var(--buttonWidth);
}

button:hover {
  background-color: #085b2a;
  cursor: pointer;
}

button:active {
  transform: translate(3px, 3px);
  box-shadow: #b5b5b5 0px 0px;
}
#comingWeekTable {
  border-collapse: collapse;
}

#comingWeekTable td:nth-child(odd) {
  text-align: right;
}
#comingWeekTable td {
  padding: 3px;
  margin: 3px;
}
#comingWeekTable tr {
  border-bottom: 1px solid var(--offBlack);
}

#kommunenavnListeForm {
  text-align: center;
  margin: 0.5em;
  width: var(--buttonWidth);
  justify-content: center;
  align-items: center;
}
#kommunenavnInput {
  padding: 10px 15px;
  /* width: calc((100% - 30px - 3.2px)); */
  width: calc(80% - 30px - 3.2px);
  border-radius: 0.5em;
  margin-right: 0px;
  border: var(--offBlack) inset 2px;
  float: left;
}

.searchButton {
  width: calc(19.6%);
  float: right;
  margin: 0px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 9vh;
  bottom: 0px;
}

column {
  display: block;
  float: left;
  margin: 0;
  height: 100%;
  /*overflow-y: auto; */
}

a {
  text-decoration: none;
  color: var(--offBlack);
}

#contactInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 8vh;
}

#contactInfo a {
  margin-right: 1vw;
  font-size: 8vh;
  color: var(--offBlack);
  text-shadow: #b5b5b5 3px 3px;
}
