* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex; /* Test */
}

#salesTimesContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#salesTimes {
  font-size: 5em;
  position: center;
}
