* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  /* animation: .5s ease-in entrance; */
}

@keyframes entrance {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

#salesTimesContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

#salesTimes {
  font-size: 5em;
  position: center;
  text-align: center;
  display: block;
  color: #131313;
}
#salesTimesFlavourText {
  font-size: 2.5em;
  text-align: center;
  display: block;
}
button {
  margin: 0.5em;
  display: block;
  background-color: #e9e9ed;
  box-shadow: #b5b5b5 3px 3px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #dedede;
  cursor: pointer;
}

button:active {
  transform: translate(3px, 3px);
  box-shadow: #b5b5b5 0px 0px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  width: 230px;
  margin: none;
}
#comingWeekTable {
  border-collapse: collapse;
}

#comingWeekTable td:nth-child(odd) {
  text-align: right;
}
#comingWeekTable td {
  padding: 3px;
  margin: 3px;
}
#comingWeekTable tr {
  border-bottom: 1px solid black;
}

.naboKommuneButton {
  padding: 10px 15px;
  width: 230px;
}
